---
layout: workshop
root: .
venue: High-Throughput Computation on the Open Science Grid and AWS, PEARC17
address: <a href="https://pearc17.sched.com/venue/Strand+3">Strand 3</a>
country: United States
humandate: July 10, 2017
humantime: 9:00 am - 12:30 pm
startdate: July-10-2017
enddate: July-10-2017
latlng: 29.951004, -90.076974
registration: https://www.pearc17.pearc.org/registration
instructor: ["Mats Rynge, Rob Gardner"]
helper: ["Suchandra Thapa, Derek Weitzel, Lincoln Bryant"]

contact: user-support@opensciencegrid.org
---


<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
-->

<!--
Practice and Experience in Advanced Research Computing 2017 (PEARC17) July 9-13, 2017 New Orleans, LA
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
<!--
{% if page.eventbrite %}
<iframe src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}
-->

<h2>General Information</h2>

<p>
The <a href="http://www.opensciencegrid.org">Open Science Grid</a>
provides a fabric of services to enable
distributed, high-throughput computing capabilities across the US. In
general, OSG is organized into VOs (Virtual Organizations) around large
experiments, but individual PIs and groups too small for the VO model
can use the hosted services provided by
<a href="http://osgconnect.net">OSG Connect</a>.
</p>

<p>
The format of this tutorial is a mix of lecture and hands-on exercises, so
please bring your laptop and make sure you have an SSH client installed.
<p>

<p>
The goal of this session is to learn how to run and
scale up workloads, manage your data and also spill over into Amazon
cloud resources. Topics to include:
Introduction to the OSG; Job Scheduling with HTCondor; Scaling Up
Workloads; High throughput submission to Amazon cloud
</p>
  
<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<!--
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students, post-doctoral researchers and other researchers.
</p>
-->
<!--
    This block displays the address and links to a map showing directions.
-->
<p>
  <strong>Where:</strong>
  {{ page.address }}.
</p>

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (see <a href="setup.html">Setup</a>).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

{% if page.registration %}
<h2>Registration</h2>
<p>
Space is limited for the event. To register,  please <a href="{{page.registration}}"> visit here </a>.
</p>
{% endif %}
<hr/>

<h2>Schedule</h2>
<h2> </h2>
<div class="row-fluid">
    <h4> High-Throughput Computation on the Open Science Grid and AWS </h4>
    <h4> August 17th, 8:30 AM - 12:00 Noon </h4>
    <h5>Location: TBD </h5>
    <h5>Instructors: TBD</h5>
     <h3> </h3>
    <table class="table table-striped">
        <tr> <td>08:30 - 08:45 </td> <td> <a href="novice/DHTC/01-IntroGrid.html">Introduction to OSG </a> &nbsp;&nbsp; [<a href="https://docs.google.com/presentation/d/15__woXk4h-F2XThw4lGxBr8_VWtQKZIHYMS1q6qAi0Q/edit?usp=sharing">Slides</a>]</td> </tr>
      <tr> <td>08:45 - 09:30 </td> <td><a href="novice/DHTC/04-HTCondor-Submitting.html">Job Scheduling with HTCondor</a></td> </tr>
      <tr> <td>09:30 - 10:00 </td> <td><a href="novice/DHTC/04a-ScalingUp-python.html">Large scale Computation with HTCondor</a> </td> </tr>
      <tr> <td>10:00 - 10:30</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:30 - 11:50 </td> <td><a href="novice/DHTC/08-condor_annex.html">Adding Resources from Amazon AWS</a> &nbsp;&nbsp; [<a href="https://docs.google.com/presentation/d/1uwRHfAKK4YIglI62kNkuKZUx2vnDCAAXxPDX6Id2j8M/edit?usp=sharing">Slides</a>]</td></td></td></tr>
      <tr> <td>11:50 - 12:00 </td> <td>Wrap up, survey and <a href="http://osgconnect.net/signup">account signups</a></td></td></td></tr>
    </table>
  </div>
<hr/>



<!--
    Edit this block to show what topics will be covered.
-->

<h2>Setup Instructions </h2>
<p>
  <a href="setup.html">Instructions to set up the required software on Linux, Windows and Mac laptops</a>
</p>
<hr/> 

<!--
<h2>Feedback</h2>
<p>
  <a href="https://docs.google.com/forms/d/1kJJ0QGsY_Aqpn1rdN5Ng8KuBoL5lpmjFXQcFS3SMKwo/edit">Feedback for the workshop</a>. 
</p>
<hr/>
-->


<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->
