
<!--
<h2>Setup</h2>
-->
<p>
Please make sure that you have completed the following setup precedure before arriving at the training session.  Please arrive early if you have any problems and require help from an instructor.</p>
<h3>Overview</h3>

<div class="row-fluid">
  <div class="span12">
    <h4>Secure Shell & Secure Copy </h4>
    <p>
      <code>ssh</code> (secure shell) is an encrypted remote login tool. It lets you connect to remote resources, such as the OSG Connect login node and interact with the machine via UNIX shell.
      Similarly, <code>scp</code> (secure copy) is a tool that facilitates encrypted file transfer. We will use both to interact with OSG Connect.
    </p>

    <h4>OSG </h4>
    <p>
    Training accounts will be available, but we recommend that you create
    an account which you can keep after the training session. Please see the 
    <a href="http://osgconnect.net/signup">Sign Up page</a>. It takes 5-10 minutes 
 to complete the sign up process and about 30 minutes to get your account 
 activated.  
    </p>
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span12">
    <h4>Secure Shell </h4>
    <p>
      For secure shell (ssh), download <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">PuTTY</a>.
    </p>
    <p>
      For secure copy (scp), download <a href="http://winscp.net/eng/download.php">WinSCP</a>
    </p>

  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span12">
    <h4>Secure Shell </h4>
    <p>
      The tools (ssh, scp, ...) are usually already installed and available on the 
      command line.
    </p>

  </div>
</div>

<h3>Linux</h3>
<div class="row-fluid">
  <div class="span12">
    <h4>Secure Shell </h4>
    <p>
      The tools (ssh, scp, ...) are usually already installed and available on the 
      command line.
    </p>

  </div>
</div>

<hr/>

